<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-11">
                        <h5>משימות</h5>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-secondary" (click)="changeMode()" title="הוסף חדש">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <b>תאור</b>
                                <br>
                                <input type="text" class="searchInput" [(ngModel)]="taskSearch.description"
                                    (ngModelChange)="getTasks()">
                            </div>
                            <div class="col-sm-2" *ngIf="!addMode||!inEdit">
                                <b>תאריך יצירה</b>
                                <br>
                                <input type="date" class="searchInput" [(ngModel)]="taskSearch.createDate"
                                    (ngModelChange)="getTasks()">
                            </div>
                            <div class="col-sm-2">
                                <b>תאריך יעד</b>
                                <br>
                                <input type="date" class="searchInput" [(ngModel)]="taskSearch.doDate"
                                    (ngModelChange)="getTasks()">
                            </div>
                            <div class="col-sm-2">
                                <b>הערות</b>
                                <br>
                                <input type="text" class="searchInput" [(ngModel)]="taskSearch.comments"
                                    (ngModelChange)="getTasks()">
                            </div>
                            <div class="col-sm-2">
                                <b>רמת דחיפות</b>
                                <br>
                                <input type="text" class="searchInput" [(ngModel)]="taskSearch.urgency"
                                    (ngModelChange)="getTasks()">
                            </div>
                            <div class="col-sm-1">
                                <b>סטטוס</b>
                                <br>
                                <input type="text" class="searchInput" [(ngModel)]="taskSearch.status"
                                    (ngModelChange)="getTasks()">
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" *ngIf="addMode">
                        <div class="row">
                            <div class="col-sm-2">
                                <input class="form-control" type="text" name="discraption" required placeholder="תיאור"
                                    [ngClass]="{'danger': newTask.description==null}" [(ngModel)]="newTask.description">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" type="date" name="srart-date" disabled="" required
                                    placeholder="תאריך יצירה" [ngModel]="newTask.createDate | date:'yyyy-MM-dd'"
                                    (ngModelChange)="newTask.createDate = $event">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" type="date" name="end-date" required placeholder="תאריך יעד"
                                    [(ngModel)]="newTask.doDate" (ngModelChange)="newTask.doDate = $event"
                                    [ngClass]="{'danger': newTask.doDate==null}">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" type="text" name="remarks" placeholder="הערות"
                                    [(ngModel)]="newTask.comments">
                            </div>
                            <div class="col-sm-2">
                                <select class="form-select" name="selectUrgency" [(ngModel)]="this.newTask.urgency.id"
                                    [ngClass]="{'danger': newTask.urgency.id == 0}">
                                    <option selected [ngValue]="0" disabled>בחר רמת דחיפות</option>
                                    <option *ngFor="let u of urgency" [ngValue]="u.id">{{u.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <select class="form-select" name="selectStatus" [(ngModel)]="this.newTask.status.id"
                                    [ngClass]="{'danger': newTask.status.id == 0}">
                                    <option selected [ngValue]="0" disabled>סטטוס</option>
                                    <option *ngFor="let s of status" [ngValue]="s.id">{{s.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-success" title="שמירה"
                                    [disabled]="newTask.description==null||newTask.doDate==null|| newTask.urgency.id==0||newTask.status.id==0"
                                    (click)="addTask(true)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                        class="bi bi-save" viewBox="0 0 16 16">
                                        <path
                                            d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="scrl" style="text-align: center;">
                    <span *ngIf="tasks.length==0">אין נתונים להצגה</span>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let task of tasks">
                            <div class="row" *ngIf="!task.inEdit">
                                <div class="col-sm-2">
                                    {{task.description}}
                                </div>
                                <div class="col-sm-2">
                                    {{task.createDate|date:"dd/MM/yyyy"}}
                                </div>
                                <div class="col-sm-2">
                                    {{task.doDate|date:"dd/MM/yyyy"}}
                                </div>
                                <div class="col-sm-2">
                                    {{task.comments}}
                                </div>
                                <div class="col-sm-2">
                                    {{task.urgency.name}}
                                </div>
                                <div class="col-sm-1">
                                    {{task.status.name}}
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" title="עריכה" (click)="editTask(task)">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-secondary" (click)="deleteTask(task.id)">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                            </path>
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="row" *ngIf="task.inEdit">
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" [(ngModel)]="task.description">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="date" name="start-date" required
                                        placeholder="תאריך יצירה" disabled=""
                                        [ngModel]="task.createDate | date:'yyyy-MM-dd'"
                                        (ngModelChange)="task.createDate = $event">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="date" name="end-date" required
                                        placeholder="תאריך יעד" [ngModel]="task.doDate | date:'yyyy-MM-dd'"
                                        (ngModelChange)="task.doDate = $event">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" name="remarks" placeholder="הערות"
                                        [(ngModel)]="task.comments">
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" required [ngClass]="{'danger': task.urgency.id==null}"
                                        [(ngModel)]="task.urgency.id">
                                        <option *ngFor="let urgency of urgency" [ngValue]="urgency.id">{{urgency.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <select class="form-select" name="selectStatus" [(ngModel)]="task.status.id">
                                        <option *ngFor="let s of status" [ngValue]="s.id">{{s.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-success" title="שמירה"
                                        [disabled]="task.description==null||task.createDate==null||task.status==null"
                                        (click)="save(task)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                            <path
                                                d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-danger" title="ביטול" (click)="cancel(task)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                            <path
                                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer bg-green">

            </div>
        </div>
    </div>
    <div class="col-sm-1">

    </div>
</div>
<!-- ♥♥ -->
<div *ngIf="isManager&&lenders.length>0">
    <p> <b> בתור מנהל יש לך האפשרות להוסיף  משימות למלוים תחתיך  כאן 👇 </b></p>
    <select class="form-select" [(ngModel)]="lender" (ngModelChange)="updateTaskLender($event)">
        <option selected [ngValue]="0" disabled>בחר מלווה להוספת משימה </option>
        <option *ngFor="let lender of lenders" [ngValue]="lender">  הוספת משימה ל: {{lender.firstName +" "+ lender.lastName }}</option>
    </select>

    <li class="list-group-item" *ngIf="addModeToLender">
        <div class="row">
            <div class="col-sm-2">
                <input class="form-control" type="text" name="discraption" required placeholder="תיאור"
                    [ngClass]="{'danger': taskToLender.description==null}" [(ngModel)]="taskToLender.description">
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="date" name="srart-date" disabled="" required placeholder="תאריך יצירה"
                    [ngModel]="taskToLender.createDate | date:'yyyy-MM-dd'" (ngModelChange)="taskToLender.createDate = $event">
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="date" name="end-date" required placeholder="תאריך יעד"
                    [(ngModel)]="taskToLender.doDate" (ngModelChange)="taskToLender.doDate = $event"
                    [ngClass]="{'danger': taskToLender.doDate==null}">
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="remarks" placeholder="הערות"
                    [(ngModel)]="taskToLender.comments">
            </div>
            <div class="col-sm-2">
                <select class="form-select" name="selectUrgency" [(ngModel)]="this.taskToLender.urgency.id"
                    [ngClass]="{'danger': taskToLender.urgency.id == 0}">
                    <option selected [ngValue]="0" disabled>בחר רמת דחיפות</option>
                    <option *ngFor="let u of urgency" [ngValue]="u.id">{{u.name}}</option>
                </select>
            </div>
            <div class="col-sm-1">
                <select class="form-select" name="selectStatus" [(ngModel)]="this.taskToLender.status.id"
                    [ngClass]="{'danger': taskToLender.status.id == 0}">
                    <option selected [ngValue]="0" disabled>סטטוס</option>
                    <option *ngFor="let s of status" [ngValue]="s.id">{{s.name}}</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success" title="שמירה"
                    [disabled]="taskToLender.description==null||taskToLender.doDate==null|| taskToLender.urgency.id==0||taskToLender.status.id==0"
                    (click)="addTask(false)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-save" viewBox="0 0 16 16">
                        <path
                            d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
                    </svg>
                </button>
            </div>
        </div>
    </li>
</div>