<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>תקנון לניהול תקציב</title>
</head>

<body>

    <header>
        <h1>תקנון לניהול תקציב</h1>
    </header>

    <p>מטרת התקנון לניהול תקציב היא להבטיח ניהול יעיל ושקול של המידע הכספי באתר. התקציב הוא כלי חשוב בניהול האתר, והוא מאפשר למשתמשים לנהל את התקציב האישי או העסקי שלהם באופן יעיל ושקול. ניהול תקציב נכון מאפשר למשתמשים לתכנן ולמצוא דרכים לחסוך, להשקיע ולנהל את הכספים שלהם בצורה שתתאים להם הכי טוב.</p>
    <p>המשתמש באתר מתחייב לפעול בצורה רגישה ואחראית לניהול התקציב. הוא מתחייב לא לשתף פעולה עם גורמים או להתנהג בדרכים
        שמזיקות למערכת התקציבית הכללית.</p>
    <p>הנהלת האתר אינה אחראית לאובדן נתונים או נזק שייגרם בעקבות שימוש לא תקין או לא הולם באתר. המשתמש מתחייב לגבות מידע
        מגובש לגבי תקציב תקין לאחר שימוש במערכת.</p>
    <footer>
        <p>© 2024 כל הזכויות שמורות למפרסם</p>
    </footer>
</body>

</html>